<app-divider>
    Placeholder
</app-divider>
<app-placeholder [header]= "true" [lines]= "7"></app-placeholder>

<app-divider>
    Segment
</app-divider>
<app-segment>
    <header>
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </header>

    <button class="ui primary button">Add Document</button>
</app-segment>