<app-divider>Table Component</app-divider>
<app-table
    [data] = "data"
    [headers] = "headers"
    class = "striped celled"
>
</app-table>

<app-divider>Tab Menu</app-divider>
<app-tabs></app-tabs>