<table [ngClass] = "classNames" class = "ui table">
    <thead>
        <tr>
            <th *ngFor = "let header of headers">
                {{ header.label }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let date of data" >
            <td *ngFor = "let header of headers" >
                {{ date[header.key] }}
            </td>
        </tr>
    </tbody>
</table>