<div class = "ui grid" >
    <div class = "four wide column" >
        <div class = "ui vertical fluid tabular menu" >
            <a class = "item" routerLink = "./" routerLinkActive = "active" [routerLinkActiveOptions] = "{ exact: true }">Biography</a>
            <a class = "item" routerLink = "./companies" routerLinkActive = "active">Companies</a>
            <a class = "item" routerLink = "./partners" routerLinkActive = "active">Parners</a>
        </div>
    </div>
    <div class = "twelve wide steched column" >
        <div class = "ui segment" >
            <router-outlet></router-outlet>
        </div>
    </div>
</div>